#studentform{
	width: 900px;
	background-color: #E1F8FF;
}


#studentform tr{
	height: 45px;
}

#studentform td{
	padding-right: 10px;
	text-align: right;
}

input[type=text]:focus {
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px #15ADE8;
}

input[type=text]  {
    background: white;
    border: 0px solid #15ADE8;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px #15ADE8;
    color: #666;
    float: left;
    padding: 5px 10px;
    width: 165px;
    outline: none;
    font-size: 16px;
}


input[type=submit]{
cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
padding:5px 25px; /*add some padding to the inside of the button*/
background:#35b128; /*the colour of the button*/
border:1px solid #33842a; /*required or the default border for the browser will appear*/
/*give the button curved corners, alter the size as required*/
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
/*give the button a drop shadow*/
-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
box-shadow: 0 0 4px rgba(0,0,0, .75);
/*style the text*/
color:#f3f3f3;
font-size:1.1em;
}
/***NOW STYLE THE BUTTON'S HOVER AND FOCUS STATES***/
input[type=submit]:hover, input[type=submit]:focus{
background-color :#399630; /*make the background a little darker*/
/*reduce the drop shadow size to give a pushed button effect*/
-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
box-shadow: 0 0 1px rgba(0,0,0, .75);
}